/*.form-label{
    font-size: 1em;
    color: white;
}*/
.form{
  background: rgba(255, 255, 255, 0.466) ;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 40px;
  color: #333;
  margin: 10px;
}